<a href="https://colab.research.google.com/github/poojabhateley/Python-Assignment/blob/master/Assignment_19_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Question 1 email among list of strings

import re

l=['rahul@codeasylums.com', 'Rahul kumar','bhateleypooja@gmail.com','xyz','abc']

result=[]
for i in l:
  if re.findall('\S+@\S+',i):
    result.append(i)


result

['rahul@codeasylums.com', 'bhateleypooja@gmail.com']

In [ ]:
#Question- extract list of name basis on class

d={'9':'Rahul', '10':'Ritwik', '9':'Pratik','10':'Sai'}

from collections import defaultdict

l=defaultdict(list)
for key,val in sorted(d.items()):
  l[key].append(val)
print(l)

In [10]:
#Questions 3

feature=[10,20,30,40,50]

import pandas as pd

data=pd.DataFrame({'Id':[1,2,3,4,5],'feature':[10,20,30,50,20]})

In [11]:
if len(feature)==data.shape[0]:
  print('Same length')

In [12]:
for i in data.columns:
  if i =='feature':
    print('Same feature name exits')
    break

Same feature name exits

In [14]:
#Question 4
l1=['IAmPooja','ThisIsACamel']

print([i.lower() for i in l1])
print([i.upper() for i in l1])

['iampooja', 'thisisacamel']
['IAMPOOJA', 'THISISACAMEL']